body{
    margin: 0;
    background-color: #ECECEC;
}
.top{
    height: 50px;
    background-color: #59C7E3;
    display: flex;
    align-items: center;
}
.top img{
    height: 16px;
    width: 20px;
    margin-left: 5vw;
}
.center{
    height: 12vh;
    width: 90%;
    background-color: #ffffff;
    color: #979797;
    margin-left: 5%;
    margin-top: 2vh;
    display: flex;align-items: center;
    justify-content: space-between;
    border: 1px solid #C0C0C0	;
}
.center-left{
    height: 10vh;
    width: 2vw;
}
.center img{
    height: 25px;
    width: 15px;
    padding-right: 10px;
}
.bottom{
    width: 90%;
    height: 71vh;
    background-color: #ffffff;
    margin-top: 2vh;
    margin-left: 5%;
    border: 1px solid #C0C0C0;
    position: relative;
}
.bottom-top{
    height: 9vh;
    width: 100%;
    text-align: center;
    color: #F8A629;
    line-height: 9vh;
    border-bottom: 1px solid #F8A629;
}
.bottom-center{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2vh;
}
.text-one{
    height: 12vh;
    width: 100%;
    line-height: 12vh;
    text-align: center;
    background-color: #59C7E3;
    color: #ffffff;
}
.text-home{
    height: 12vh;
    width: 100%;
    line-height: 12vh;
    text-align: center;
    background-color: #59C7E3;
    color: #ffffff;
}
.text-home a{
    margin: 0;
    color: #fff;
    text-decoration: none;
}
.text-one p{
    margin: 0;
}
.text-two{
    color: #656565;
    text-align: center;
    padding: 2vh;
    font-size: 10px;
}
.text-two p{
    margin: 0;
}
.bottom img{
    height: 28px;
    width: 14px;
    position:absolute;
    left: 50%;
    top: 47%;
    margin-left: 39vw;
}
.line{
    display: flex;
    justify-content: center;
}
.line-one {
    width: 10px;
    height: 10px;
    background: #59C7E3;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    margin: 2px;
}
.line-two {
    width: 10px;
    height: 10px;
    background: #ECECEC;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    margin: 2px;

}























