body{
    margin: 0;
}
.button{
    display: flex;
    margin: 0;
    height: 59px;
    align-items: center;
    border-bottom: 1px solid #dddddd;
    background-color: #FFFFFF;


}
.dropbtn {
    background-color: #fff;
    color: #979797;
    font-size: 16px;
    border: none;
    cursor: pointer;
    padding: 0;
}

.dropdown {
    width: 33vw;
    position: relative;
    display: inline-block;
    text-align: center;
    height: 40px;
    line-height: 40px;

}
.line{
    width: 1px;
    height: 40px;
    border-left: 1px solid #dddddd;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}



.dropdown-content a {
    color: #979797;
    width: 100%;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}
