@import "a";
h6{
  padding: 0;
  margin: 0;
  color: #ffffff;
}
.foot{
  background-color: #26a26f;
  padding-top: 2rem;
  margin-top: 3rem;
}
.text-light {
  color: #f8f9fa !important;
}
.foot-txt{
  color: #ffffff;
}

.foot-txt:hover{
  border-bottom: 1px solid #ffffff;

}
.foot-one{
  padding-top: 1.6rem;

}
.foot-two{
  padding-top: 1.5rem;

}
.foot-three{
  padding-top: 1.5rem;

}
.foot-txt-two{
  border-top: 1px solid #ffffff;
  margin-top: 1rem;
}

.foot-txt-two span{
  color: #ffffff;
}
.txt{
  margin-left: 0;
  margin-right: 0;
}