@import "a";
@import "header";
@import "foot";
.img-fluid{
  max-width: 100%;
}
.tj-txt-one{
  color: #29b078;
}
.tj-txt-two{
  padding-top: 2rem;

}
.tj-box{
  padding-top: 1rem;
}
.tj-txt-three{
  width: 15px;
  height: 15px;
  border: 1px solid orange;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}
.tj-txt-four{
  padding-left: 5px;
}
.box-one{
  padding-top: 1rem;
}
.top-line{
  padding-left: 0;
}
.tj-box-one{
  border-top: 1px solid #dddddd;
}
.top-line-two{
  border: 1px solid #dddddd;
  background-color: #ffffff;
  padding-left: 0;
  padding-right: 0;
}
.box-one a{
  color: #29b078;
  text-decoration: none;
}

.box-one:hover .tj-txt-three{
  background-color: orange;
}
.box-one:hover a{
  color: orange;
}
.box-two{
}
.box-three span{
  color: #b9b9b9;
}
.box-three{
  color: #b9b9b9;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;

}
.box-four{
  color: #b9b9b9;
  padding-top: 2rem;
  padding-left: 4rem;
  border-top: 1px solid #dddddd;
}
.box-five{
  border: 1px solid #dddddd;
  padding: 0;
  background-color: #ffffff;
}
.box-six{
  flex: 0;
  width: 35px;
}
@media screen and (max-width: 780px) {
  .image-one{
    text-align: center;
  }

}