@import "a";
.head {
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: #fafafa;
}
.head-txt{
  color: #29b078;
  display: none;
}
@media screen and (max-width: 780px){
  .txt-two{
    display: none;
  }

}
@media screen and (max-width: 780px){
  .top{
    display: none;
  }

}
@media screen and (max-width: 780px){
  .head-txt{
    display: block;
  }
}
.top{
  padding-right: 10px;

}
.head-top{
  margin-right: 15px;
}
.txt-two{
  color: #29b078;
}
.navbar{
  background-color: #29b078;
}
.nav-logo{
  width: auto;
}
.nav-item{
  height: 10vh;
  line-height: 10vh;
  padding: {
    left: 1rem;
    right: 1rem;
  };
}
.nav-item:hover{
  border-bottom: 2px solid #ffffff;
}
.nav-txt{
  @include d-a-c;
}
input[type=checkbox], label {
  display: none;
}
@media screen and (max-width: 780px){

  .navbar{
    padding: {
      top: 0.5rem;
      bottom: 0.5rem;
    };
  }
  label{
    display: inline-block;
    float: right;
    cursor: pointer;
  }
  .nav-txt{
    display: none;
    position: absolute;
    right: 0;
    z-index: 99;
  }
  input[type=checkbox] {
    position: absolute;
    top: -9999px;
    left: -9999px;
    background: none;
  }
}

