body{
    display: block;
    background-color: #48D1CC;
    width: 100%;


}

.photo03{
    margin-top: 20px;
    margin-left: 30px;
}
.photo06{
    text-align: center;
    margin-top: 50px;
}

.right {
    padding: 1em;
    margin-left: 20vw;
    margin-right: 20vw;

}

.photo02{
    float: left;
    margin-left: 10vw;
}
.photo1{
    float: right;
    margin-right: 10vw;
}
.txt{
    font-size: 20px;
    color: white;
    text-align: center;
}