body{
    background-color: aliceblue;
    margin: 0 ;
    padding: 0;
}
.head{
    width: 100%;
    height: 60px;
    background-color: #5EBFCC;
}
.txt1{
    float: left;
    height: 60px;
    margin: 0;
    padding-left: 7px;
    line-height: 60px;
    color: white;
}

.txt3{
    float:right;
    height: 60px;
    margin: 0;
    padding-right: 7px;
    line-height: 60px;
    color: white;

}
.txt2{
    margin: 0;
    text-align: center;
    line-height: 60px;
    color: white;
}
.your{
    background-color: white;
    margin-top: 10px;
    height: 60px;
    display: flex;
    align-items: center;
}
.iphone{
    width: 65px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #dddddd;
}
.yourname{
    height: 60px;
    width: 90%;
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.pass{
    background-color: white;
    margin-top: 10px;
    height: 60px;
    display: flex;
    align-items: center;

}
.lock{
    width: 65px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #dddddd;

}
.password{
    height: 60px;
    width: 90%;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.login{
    width: 100%;
    height: 60px;
    background-color: #5EBFCC;
}
.login-a{
    color: white;
    text-align: center;
    line-height: 60px;
}
.txt5{
    color: #5EBFCC;
    float:right;
    margin-right: 10px;
    border-bottom: 1px solid #5EBFCC;
}


















