@import "a";
@import "faguan";
.main-p{
  background-color: #b9e9f5;
  line-height: 3rem;
  padding-left: 3rem;
}
.main-center{
  height: 30px;
  padding-left: 6vw;
  color: #FFFFFF;
  font-size: 0.5rem;
}
.triangle-down{
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 8px solid #ADE4F2;
  padding-bottom: 5px;
}
.box-photo{
  margin-top: 1rem;
display: none;
}
.change{
  background-color: #83b09a;
}
//.die{
//  @extend  .main-box-one;
//}
.addcolor{
  background-color: #f5c97b;
}